---
import data from '../data/bmgf-nih.json';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details - OAPLS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="/main.js" is:inline></script>
	<style>
		@import "../styles/tailwind.css";
	</style>		
  <link rel="stylesheet" href="/global.css">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <nav class="bg-white border-b p-6">
    <div class="flex justify-between">
      <div><a href="index.html" class="text-black no-underline">OAPLS</a></div>
    </div>
  </nav>

  <div class="container mx-auto px-4">
    <header>
      <div class="mt-4">
        <a href="index.html" class="text-gray-900">&larr; Start Over</a>
      </div>
      <h1 class="text-5xl font-bold mt-12 mb-4">Compliance requirements for research funders</h1>
      <div class="flex space-x-6">
        <div class="md:w-1/2">
          <p class="pb-3 text-sm">
            <span class="block mb-1 uppercase font-semibold text-xs">For</span>
            <small class="bg-gray-300 rounded-full py-1 px-2 mr-1">{data.metadata.selection.articleType}</small>
            {data.metadata.selection.dataType.map(type => (
              <small class="bg-gray-300 rounded-full py-1 px-2 mr-1">{type}</small>
            ))}
          </p>
          <p class="pb-3 text-sm">
            <span class="block mb-1 uppercase font-semibold text-xs">With the grant IDs</span>
            {data.metadata.selection.grants.map((grant, index) => [
              <small class="bg-gray-600 text-white rounded-full py-1 px-2 mr-1">{grant.id}</small>,
              <small class="bg-gray-300 rounded-full py-1 px-2">{grant.org}</small>,
              index < data.metadata.selection.grants.length - 1 ? ' / ' : ''
            ])}
            <br>
          </p>
          <p class="pb-4 text-sm">
            <span class="block mb-1 uppercase font-semibold text-xs">Submitted</span>
            <small class="bg-gray-300 rounded-full py-1 px-2 mr-1">{data.metadata.selection.submissionDate}</small>
            <br>
          </p>
        </div>

        <div class="md:w-1/2">
          {data.metadata.alert && (
            <div class="p-4 border border-dotted border-gray-600 text-gray-700 text-sm">
              <p class="pb-2 text-xs">{data.metadata.alert.date}</p>
              <p class="pb-2">⚠ {data.metadata.alert.message}</p>
              {data.metadata.alert.moreInfo && (
                <p><a href={data.metadata.alert.moreInfo} class="underline" target="_blank">More information ↗</a></p>
              )}
            </div>
          )}
        </div>
      </div>
    </header>

    <div class="mt-8">
      <div class="border-b border-gray-200">
        <ul class="flex cursor-pointer" id="tab-list">
          {data.researchArtefacts.map((artefact, index) => (
            <li class={`mr-1 ${artefact.sections.length === 0 ? 'opacity-50 cursor-not-allowed' : ''}`}>
              <a class={`inline-block py-2 px-4 bg-gray-200 text-black hover:bg-gray-300 font-semibold ${artefact.sections.length === 0 ? 'pointer-events-none' : ''}`}
                 href="#"
                 data-target={`tab-${index}`}>
                {artefact.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div id="tab-content" class="bg-white p-6">
        {data.researchArtefacts.map((artefact, index) => (
          <div class={`tab-pane hidden`} id={`tab-${index}`}>
            {artefact.sections.map((section) => (
              <div>
                {section.overline && (
                  <small class="text-gray-500 text-xs uppercase font-semibold mb-2">{section.overline}</small>
                )}
                <h3 class="text-lg font-semibold border-b-4 pb-2">{section.title}</h3>
                <div class="overflow-x-auto">
                  <table class="w-full table-fixed">
                    <tbody class="divide-y divide-gray-200">
                      {section.rows.map((row, rowIndex) => (
                        <tr>
                          <th class="w-1/3 p-4 text-right text-sm font-semibold">{row.label}</th>
                          <td class="w-2/3 p-4">
                            {row.moreInfo ? (
                              <details>
                                <summary class="cursor-pointer">{row.value}</summary>
                                <p class="pt-2 text-gray-600 text-sm">{row.moreInfo}</p>
                              </details>
                            ) : (
                              <span>{row.value}</span>
                            )}
                          </td>
                        </tr>
                      ))}
                    </tbody>
                  </table>
                </div>
              </div>
            ))}
          </div>
        ))}
      </div>
    </div>

    <div class="mt-4 bg-gray-100">
      <h2 class="sr-only">About this record</h2>
      <p class="text-gray-600 text-sm text-right">Last updated: {data.metadata.lastUpdated}</p>
      <p class="text-gray-600 text-sm text-right">
        Sources: 
        {data.metadata.sources.map((source, index) => [
          <a href={source.url} class="underline" target="_blank">{source.name}</a>,
          index < data.metadata.sources.length - 1 ? ', ' : ''
        ])}
      </p>
    </div>

    <!-- <div class="mt-8">
      <h2 class="text-lg font-semibold">Have more affiliations or funders to comply to? Providing them can improve accuracy in your results.</h2>
      <form id="funderForm">
        <label for="funderInput" class="block text-gray-700 text-sm font-bold mb-2">Add more organisations</label>
        <select id="funderInput" class="block w-full p-2 border bg-white" multiple></select>
        <button type="submit" class="bg-gray-800 text-white font-bold py-2 px-4 rounded mt-4">CHECK</button>
      </form>
    </div> -->
  </div>

  <footer class="bg-white border-t mt-12 p-6 text-center">
    Open Source • Community Controlled • Not for Profit
  </footer>
</body>
</html>
